<!-- <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()">
    <div>
        <label>Email</label>
        <input formControlName='email' type="email" />
        <div>
            <small class="form-error" *ngIf="formControls?.email?.touched && formControls?.email?.errors?.required">
                Email is required</small>
            <small class="form-error" *ngIf="formControls?.email?.touched && formControls?.email?.errors?.pattern">Enter
                a valid
                email</small>
        </div>
    </div>
    <div>
        <label>Password</label>
        <input formControlName="password" type="password" />
        <div>
            <small class="form-error"
                *ngIf="formControls?.password?.touched && formControls?.password?.errors?.required"> Password is
                required</small>
        </div>
    </div>

    <button type="submit" [disabled]="!loginFormGroup.valid">Login</button>
</form> -->



<div class='containr'>
    <h2>تسجيل الدخول</h2>
    <form [formGroup]="loginFormGroup" (ngSubmit)="onSubmit()" id="loginForm">
        <input type="email" formControlName='email' placeholder="Ex:admin@outlook.com" required>
        <div>
            <small class="form-error" *ngIf="formControls?.email?.touched && formControls?.email?.errors?.required">
                الإيميل مطلوب</small>
            <small class="form-error" *ngIf="formControls?.email?.touched && formControls?.email?.errors?.pattern">
                تأكد من إدخال إيميل صحيح</small>
        </div>
        <input type="password" formControlName="password" placeholder="الرقم السرى" required>

        <div>
            <small class="form-error"
                *ngIf="formControls?.password?.touched && formControls?.password?.errors?.required"> الرقم السرى
                مطلوب</small>
        </div>
        <button class="login-btn" type="submit" [disabled]="!loginFormGroup.valid"> تسجيل الدخول</button>
    </form>

</div>