<input
  class="mb-3 form-control w-25"
  type="text"
  placeholder="بحث بإسم الدواء"
  [(ngModel)]="medicineName"
  (ngModelChange)="search()"
/>
<div></div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th [appSort]="medicines" data-order="desc" data-name="medicineName">
        <fa-icon [icon]="faSort"></fa-icon> إسم الدواء
      </th>
      <th [appSort]="medicines" data-order="desc" data-name="medicineCode">
        <fa-icon [icon]="faSort"></fa-icon>
        كود الدواء
      </th>
      <th [appSort]="medicines" data-order="desc" data-name="expireDate">
        <fa-icon [icon]="faSort"></fa-icon>تاريخ إنتهاء الصلاحية
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let medicine of medicines
          | paginate
            : {
                itemsPerPage: 10,
                currentPage: this.page,
                totalItems: totalPages
              }
      "
    >
      <th>{{ medicine.medicineName }}</th>
      <th>{{ medicine.medicineCode }}</th>
      <th>{{ medicine.expireDate }}</th>
    </tr>
  </tbody>

  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
</table>
