<div class="p-4" style="background-color: #f2f2f2;width: 95%;border-radius: 12px;margin: 0 auto;">
  <p-panel header="أمر توريد">
    <form [formGroup]="productFromSupplierForm" (ngSubmit)="recieveProductFromSupplier()">
      <div class="row m-auto  form-group p-fluid">
        <div class="col p-field">
          <label for="prodcutInputName" class="font-weight-bold">إسم المنتج</label>
          <input formControlName="name" placeholder="إسم المنتج" type="text" class="form-control p-inputtext"
            id="prodcutInputName" />
          <small class="form-error">إسم المنتج مطلوب</small>
          <small class="form-error">
            إسم المنتج يجب أن لا يزيد عن 50 حرف
          </small>
        </div>



        <div class="col p-field">
          <label for="prodcutInputName" class="font-weight-bold">إسم المنتج</label>
          <input formControlName="name" placeholder="إسم المنتج" type="text" class="form-control p-inputtext"
            id="prodcutInputName" />
          <small class="form-error">إسم المنتج مطلوب</small>
          <small class="form-error">
            إسم المنتج يجب أن لا يزيد عن 50 حرف
          </small>
        </div>
        <div class="col p-field">
          <label for="prodcutInputName" class="font-weight-bold">إسم المنتج</label>
          <input formControlName="name" placeholder="إسم المنتج" type="text" class="form-control p-inputtext"
            id="prodcutInputName" />
          <small class="form-error">إسم المنتج مطلوب</small>
          <small class="form-error">
            إسم المنتج يجب أن لا يزيد عن 50 حرف
          </small>
        </div>
      </div>






      <!--     
      <div class="row mt-5">
        <div class="col">
          <div class="form-group">
            <div class="row">
              <div class="col mt-1">
                <label for="importOrderNumberInput" class="font-weight-bold" style="font-size: large">رقم أمر
                  التوريد</label>
              </div>
              <div class="col-12">
                <div class="input-group" style="width: 50%">
                  <div class="input-group-prepend">
                    <div class="input-group-text">#</div>
                  </div>
                  <input formControlName="importOrderNumber" type="number" class="form-control w-50"
                    id="importOrderNumberInput" placeholder="من فضلك رقم أمر التوريد" [ngClass]="{
                    'is-invalid':
                      (controls?.importOrderNumber?.errors &&
                      controls?.importOrderNumber?.touched) ||
                      (submitted &&
                      controls?.importOrderNumber?.errors)
                  }" />
                  <div class="form-error">
                    رقم أمر التوريد مطلوب
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>








        <div class="col">
          <div class="form-group">
            <div class="row">
              <div class="col-2 mt-1">
                <label for="supplyOrderNumberInput" class="font-weight-bold" style="font-size: large">رقم أمر
                  الإمداد</label>
              </div>
              <div class="col-9">
                <div class="input-group" style="width: 50%">
                  <div class="input-group-prepend">
                    <div class="input-group-text">#</div>
                  </div>
                  <input formControlName="supplyOrderNumber" type="number" class="form-control w-50"
                    id="supplyOrderNumberInput" placeholder="من فضلك أدخل رقم أمر الإمداد" [ngClass]="{
                    'is-invalid':
                      (productFromSupplierForm.get('supplyOrderNumber')
                        .errors &&
                        productFromSupplierForm.get('supplyOrderNumber')
                          .touched) ||
                      (submitted &&
                        productFromSupplierForm.get('supplyOrderNumber').errors)
                  }" />

                  <div class="invalid-feedback font-weight-bold h1" style="font-size: 18px">
                    رقم أمر الإمداد مطلوب
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6 mt-4">
          <div class="form-group">
            <div class="row">
              <div class="col-2 mt-1">
                <label for="approvalNumberInput" class="font-weight-bold" style="font-size: large">رقم إذن
                  الإمداد</label>
              </div>
              <div class="col-9">
                <div class="input-group" style="width: 50%">
                  <div class="input-group-prepend">
                    <div class="input-group-text">#</div>
                  </div>
                  <input formControlName="approvalNumber" type="number" class="form-control w-25"
                    id="approvalNumberInput" placeholder="من فضلك أدخل رقم إذن الإمداد" [ngClass]="{
                    'is-invalid':
                      (productFromSupplierForm.get('approvalNumber').errors &&
                        productFromSupplierForm.get('approvalNumber')
                          .touched) ||
                      (submitted &&
                        productFromSupplierForm.get('approvalNumber').errors)
                  }" />

                  <div class="invalid-feedback font-weight-bold h1" style="font-size: 18px">
                    رقم إذن الإمداد مطلوب
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 mt-4">
          <div class="form-group">
            <div class="row">
              <div class="col-2 mt-1">
                <label for="purchaseFeeInput" class="font-weight-bold" style="font-size: large">رسم الشراء</label>
              </div>
              <div class="col-9">
                <div class="input-group" style="width: 50%">
                  <div class="input-group-prepend">
                    <div class="input-group-text">#</div>
                  </div>
                  <input formControlName="purchaseFee" type="number" class="form-control w-25" step="0.1"
                    id="purchaseFeeInput" placeholder="من فضلك أدخل رسم الشراء" [ngClass]="{
                    'is-invalid':
                      (productFromSupplierForm.get('purchaseFee').errors &&
                        productFromSupplierForm.get('purchaseFee').touched) ||
                      (submitted &&
                        productFromSupplierForm.get('purchaseFee').errors)
                  }" />

                  <div class="invalid-feedback" *ngIf="
                    productFromSupplierForm
                      .get('purchaseFee')
                      .hasError('required') &&
                    productFromSupplierForm.get('purchaseFee').touched
                  ">
                    رسم الشراء مطلوب
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6 mt-4">
          <div class="form-group">
            <div class="row">
              <div class="col-2 mt-1">
                <label for="suppliers" class="font-weight-bold" style="font-size: large">الموردين</label>
              </div>
              <div class="col-9">
                <select formControlName="supplierId" class="form-control w-50" id="suppliers">
                  <option *ngFor="let supplier of suppliers; let i = index" [ngClass]="{
                    'is-invalid':
                      submitted &&
                      productFromSupplierForm.get('supplierId').errors
                  }" [value]="suppliers[i].supplierId">
                    {{ suppliers[i].supplierName }}
                  </option>
                </select>

                <div class="font-weight-bold h1" style="font-size: 18px; color: red" *ngIf="
                  submitted && productFromSupplierForm.get('supplierId').errors
                ">
                  من فضلك اختر مورد
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <table class="m-4 table table-striped">
        <thead>
          <tr>
            <th scope="col">إسم المنتج</th>
            <th scope="col">الصيدلية المستلمة</th>
            <th scope="col">الكيمة</th>
            <th scope="col">السعر</th>
            <th scope="col">تاريخ إنتهاء الصلاحية</th>
            <th class="ml-4 btn btn-sm btn-success text-white" (click)="addOrUpdateItem(null)">
              <fa-icon [icon]="faPlusSquare"></fa-icon> إضافة منتج
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="productSupplierService.orderItems.length == 0">
            <td class="font-italic text-center" colspan="5">
              No order item for this order
            </td>
          </tr>
          <tr style="text-align: center" *ngFor="
            let orderItem of productSupplierService.orderItems;
            let i = index
          ">
            <th>{{ orderItem.medicineName }}</th>
            <th>{{ orderItem.pharmacyName }}</th>
            <th>{{ orderItem.itemQuantity }}</th>
            <th>{{ orderItem.price }}</th>
            <th>{{ orderItem.expireDate }}</th>
            <th>
              <button class="rounded btn-danger" style="
                margin-right: 15px;
                padding-right: 20px;
                padding-left: 20px;
                padding-top: 5px;
                padding-bottom: 5px;
              " (click)="deleteOrderItem(i)">
                مسح
              </button>
            </th>
          </tr>
        </tbody>
      </table> -->

      <button class="btn btn-success mt-5" type="submit">حفظ</button>
    </form>
  </p-panel>
</div>