
<div class="p-4" style="background-color: cadetblue;">
<p-panel header="إضافة منتج">

  <form [formGroup]="medicineForm" (ngSubmit)="createMedicine()" class="p-panel-content">


    <div class="row form-group p-fluid">
      <div class="col-5 p-field ">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
      <div class="col-5">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
  
    </div>
    
    <div class="row form-group p-fluid">
      <div class="col-5 p-field ">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
      <div class="col-5">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
  
    </div>
    <div class="row form-group p-fluid">
      <div class="col-5 p-field ">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
      <div class="col-5">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
  
    </div>
    <div class="row form-group p-fluid">
      <div class="col-5 p-field ">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
      <div class="col-5">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
  
    </div>
    <div class="row form-group p-fluid">
      <div class="col-5 p-field ">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
      <div class="col-5">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
  
    </div>
    <div class="row form-group p-fluid">
      <div class="col-5 p-field ">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
      <div class="col-5">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
  
    </div>
    <div class="row form-group p-fluid">
      <div class="col-5 p-field ">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
      <div class="col-5">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
  
    </div>
    <div class="row form-group p-fluid">
      <div class="col-5">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
      <div class="col-5">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
  
    </div><div class="row form-group p-fluid">
      <div class="col-5">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
      <div class="col-5">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
  
    </div><div class="row form-group p-fluid">
      <div class="col-5">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
      <div class="col-5">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
  
    </div><div class="row form-group p-fluid">
      <div class="col-5">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
      <div class="col-5">
        <label for="float-input">إسم المنتج</label>
        <input class="p-inputtext" id="float-input" type="text" pInputText>
      </div>
  
    </div>
    
<!-- 
    <div class="form-group">
      <label for="medicineInputCode">الكود المحلى</label>
      <input formControlName="medicineCode" type="text" class="form-control w-25" id="medicineInputCode"
        placeholder="من فضلك أدخل الكود المحلى" [ngClass]="{
          'is-invalid':
            (medicineForm.get('medicineCode').errors &&
              medicineForm.get('medicineCode').touched) ||
            (submitted && medicineForm.get('medicineCode').errors)
        }" />

      <div class="font-weight-bold h1 invalid-feedback" style="padding-right: 200px; font-size: 24px">
        الكود المحلى مطلوب
      </div>
    </div>

    <div class="form-group">
      <label for="nationalInputCode">الكود الدولى</label>
      <input formControlName="nationalCode" type="text" class="form-control w-25" id="nationalInputCode"
        placeholder="من فضلك أدخل الكود الدولى" [ngClass]="{
          'is-invalid':
            (medicineForm.get('nationalCode').errors &&
              medicineForm.get('nationalCode').touched) ||
            (submitted && medicineForm.get('nationalCode').errors)
        }" />

      <div class="font-weight-bold h1 invalid-feedback" style="padding-right: 200px; font-size: 24px">
        الكود الدولى مطلوب
      </div>
    </div>

    <div class="form-group">
      <label for="medicineInputName" class="font-weight-bold h3">إسم الدواء</label>
      <input formControlName="medicineName" type="text" class="form-control w-25" id="medicineInputName"
        placeholder="من فضلك أدخل إسم الدواء" [ngClass]="{
          'is-invalid':
            (medicineForm.get('medicineName').errors &&
              medicineForm.get('medicineName').touched) ||
            (submitted && medicineForm.get('medicineName').errors)
        }" />

      <div class="invalid-feedback" *ngIf="
          medicineForm.get('medicineName').hasError('required') &&
          medicineForm.get('medicineName').touched
        ">
        إسم الدواء مطلو
      </div>
      <div class="invalid-feedback" *ngIf="
          medicineForm.get('medicineName').hasError('minlength') &&
          medicineForm.get('medicineName').touched
        ">
        إسم الدواء يجب أن لا يقل عن اربع حروف
      </div>

      <div class="invalid-feedback" *ngIf="
          medicineForm.get('medicineName').hasError('maxlength') &&
          medicineForm.get('medicineName').touched
        ">
        إسم الدواء يجب أن لا يزيد عن 8 حروف
      </div>
    </div>

    <div class="form-group mt-4">
      <label class="control-label font-weight-bold" style="margin-left: 45px">نوع المنتج</label>
      <label class="radio-inline ml-2">
        <input type="radio" value="Medicine" formControlName="productType" />دواء
      </label>

      <label class="radio-inline ml-5">
        <input type="radio" value="Equipment" formControlName="productType" />مستلزم طبى
      </label>
    </div>

    <div class="form-group">
      <label for="medicineInputPrice">سعر الدواء</label>
      <input formControlName="sellingPrice" type="number" class="form-control w-25" id="medicineInputPrice"
        placeholder="من فضلك أدخل إسم الدواء" [ngClass]="{
          'is-invalid':
            (medicineForm.get('sellingPrice').errors &&
              medicineForm.get('sellingPrice').touched) ||
            (submitted && medicineForm.get('sellingPrice').errors)
        }" />
      <div class="invalid-feedback">سعر الدواء مطلوب</div>
    </div>

    <div class="form-group">
      <label for="units">الوحدة</label>
      <select formControlName="unitId" class="form-control w-25" id="units">
        <option *ngFor="let unit of units; let i = index" [ngClass]="{
            'is-invalid': submitted && medicineForm.get('unitId').errors
          }" [value]="units[i].unitId">
          {{ units[i].unitName }}
        </option>
      </select>

      <div style="background-color: red" *ngIf="submitted && medicineForm.get('unitId').errors">
        من فضلك اختر وحدة للدواء
      </div>
    </div> -->

    <div style="text-align: center;">

      <button class="btn btn-success mt-5" type="submit">حفظ</button>
    </div>
  </form>
</p-panel>
  </div>
<!-- <p>{{ medicineForm.value | json }}</p>
<p>{{ medicineForm.status | json }}</p> -->
