<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">صيدليات مستشفى الشيخ زايد</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/medicine">إضافة دواء </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/medicine/upload">تحميل ملف ادوية</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/supplier/create">إضافة مورد</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/medicines">عرض الأدوية</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div style="margin-top: 67px">
  <router-outlet></router-outlet>
</div>
