
<button class="btn-primary" (click)="bla()">
 ayad
</button>


<div class="container">
    <div class="row">
      <div class="col-sm">
        One of one columns
      </div>
      <div class="col-sm">
        One of two columns
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <p>ahmad ayad</p>