<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink="/home">Dating App</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/medicine">Matches </a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/lists">Lists</a>
        </li>

        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/messages">Messages</a>
        </li>
      </ul>

      <!-- <div class="dropdown" appDropdown #r="appDropdown">

        <img class="mr-1"
        src="{{photoUrl || '../../../../assets/16.1 user.png.png' }}"
        />
        <a class="dropdown-toggle text-light">
          welcome {{ loginService.decodedToken?.unique_name | titlecase }}
        </a>

        <div class="dropdown-menu mt-3" [ngClass]="{ show: r.isOpen }">
          <a class="dropdown-item" routerLink="/member/edit"
            ><i class="fa fa-user"></i>Edit Profile</a
          >
          <div class="dropdown-divider" href="#"></div>
          <a class="dropdown-item" (click)="logout()"
            ><i class="fa fa-sign-out"></i>Logout</a
          >
        </div>
      </div>
       -->
    </div>
  </div>
</nav>

<p>ahmad ayad</p>
