<form [formGroup]="productItemForm" (ngSubmit)="submitform()">
  <!-- Medicine select   -->
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label
            class="font-weight-bold"
            style="font-size: large"
            for="products"
            >المنتجات</label
          >
          <select
            [ngStyle]="{
              'border-color':
                submitted && productItemForm.get('medicineId').errors
                  ? 'red'
                  : ''
            }"
            #selectedMedicineName
            (change)="
              handleMedicineSelection(
                selectedMedicineName.options[
                  selectedMedicineName.options.selectedIndex
                ].text
              )
            "
            formControlName="medicineId"
            class="form-control"
            id="products"
          >
            <option
              *ngFor="let medicine of medicines; let i = index"
              [ngClass]="{
                'is-invalid':
                  submitted && productItemForm.get('medicineId').errors
              }"
              [value]="medicines[i].medicineId"
            >
              {{ medicines[i].medicineName }}
            </option>
          </select>
          <div
            style="color: #dc3545; font-size: 80%"
            *ngIf="submitted && productItemForm.get('medicineId').errors"
          >
            من فضلك اختر منتج
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label
            for="pharmacies"
            class="font-weight-bold"
            style="font-size: large"
            >الصيدلية المستلمة</label
          >
          <select
            [ngStyle]="{
              'border-color':
                submitted && productItemForm.get('pharmacyId').errors
                  ? 'red'
                  : ''
            }"
            #selectedPharmacyName
            (change)="
              handlePharmacySelection(
                selectedPharmacyName.options[
                  selectedPharmacyName.options.selectedIndex
                ].text
              )
            "
            formControlName="pharmacyId"
            class="form-control"
            id="pharmacies"
          >
            <option
              *ngFor="let pharmacy of largePharmacies; let i = index"
              [ngClass]="{
                'is-invalid':
                  submitted && productItemForm.get('pharmacyId').errors
              }"
              [value]="largePharmacies[i].pharmacyId"
            >
              {{ largePharmacies[i].pharmacyName }}
            </option>
          </select>

          <div
            style="color: #dc3545; font-size: 80%"
            *ngIf="submitted && productItemForm.get('pharmacyId').errors"
          >
            من فضلك اختر صيدلية
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label
            for="quantity"
            class="font-weight-bold"
            style="font-size: large"
            >الكمية</label
          >
          <input
            formControlName="itemQuantity"
            class="form-control"
            type="number"
            id="quantity"
            [ngClass]="{
              'is-invalid':
                (productItemForm.get('itemQuantity').errors &&
                  productItemForm.get('itemQuantity').touched) ||
                (submitted && productItemForm.get('itemQuantity').errors)
            }"
          />
          <div class="invalid-feedback">كمية الدواء مطلوية</div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label for="price" class="font-weight-bold" style="font-size: large"
            >السعر</label
          >
          <input
            formControlName="price"
            class="form-control"
            type="number"
            [ngClass]="{
              'is-invalid':
                (productItemForm.get('price').errors &&
                  productItemForm.get('price').touched) ||
                (submitted && productItemForm.get('price').errors)
            }"
          />
          <div class="invalid-feedback">سعر الدواء مطلوية</div>
        </div>
      </div>

      <div class="col-6">
        <div class="form-group">
          <label
            for="expireDate"
            class="font-weight-bold"
            style="font-size: large"
            >تاريخ الإنتهاء</label
          >
          <input
            type="date"
            class="form-control"
            formControlName="expireDate"
            [ngClass]="{
              'is-invalid':
                (productItemForm.get('expireDate').errors &&
                  productItemForm.get('expireDate').touched) ||
                (submitted && productItemForm.get('expireDate').errors)
            }"
          />
          <div class="invalid-feedback">تاريخ إنتهاء الصلاحية مطلوب</div>
        </div>
      </div>
    </div>
  </div>

  <div style="margin-right: 19px" class="mt-3">
    <button class="btn btn-primary" type="submit">
      <fa-icon [icon]="faPlusSquare"></fa-icon> إضافة
    </button>
    <button class="btn btn-dark ml-5" type="button" [mat-dialog-close]>
      <fa-icon [icon]="faWindowClose"></fa-icon> خروج
    </button>
  </div>
</form>
