<div>
  <form [formGroup]="supplierForm" (ngSubmit)="createSupplier()">
    <div class="form-group">
      <label for="SupplierInputName">إسم المورد</label>
      <input
        formControlName="supplierName"
        type="text"
        class="form-control w-25"
        id="SupplierInputName"
        placeholder="من فضلك أدخل إسم المورد"
        [ngClass]="{
          'is-invalid':
            (supplierForm.get('supplierName').errors &&
              supplierForm.get('supplierName').touched) ||
            (submitted && supplierForm.get('supplierName').errors)
        }"
      />

      <div
        class="font-weight-bold h1 invalid-feedback"
        style="padding-right: 200px; font-size: 24px"
      >
        إسم المورد مطلوب
      </div>
    </div>

    <div class="form-group">
      <label for="addressInput" class="font-weight-bold h3">عنوان المورد</label>
      <input
        formControlName="address"
        type="text"
        class="form-control w-25"
        id="addressInput"
        placeholder="من فضلك أدخل عنوان المورد"
        [ngClass]="{
          'is-invalid':
            (supplierForm.get('address').errors &&
              supplierForm.get('address').touched) ||
            (submitted && supplierForm.get('address').errors)
        }"
      />
      <div class="invalid-feedback font-weight-bold h1">عنوان المورد مطلوب</div>

      <div
        class="invalid-feedback"
        *ngIf="
          supplierForm.get('address').hasError('minlength') &&
          supplierForm.get('address').touched
        "
      >
        عنوان المورد يجب أن لا يقل عن اربع حروف
      </div>

      <div
        class="invalid-feedback"
        *ngIf="
          supplierForm.get('address').hasError('maxlength') &&
          supplierForm.get('address').touched
        "
      >
        عنوان المورد يجب أن لا يزيد عن 8 حروف
      </div>
    </div>

    <div class="form-group">
      <label for="phoneInput">رقم التليفون</label>
      <input
        formControlName="phone"
        type="tel"
        class="form-control w-25"
        id="phoneInput"
        placeholder="من فضلك أدخل رقم التليفون"
        [ngClass]="{
          'is-invalid':
            (supplierForm.get('phone').errors &&
              supplierForm.get('phone').touched) ||
            (submitted && supplierForm.get('phone').errors)
        }"
      />
      <div class="invalid-feedback">رقم الفاكس مطلوب</div>
    </div>

    <button class="btn btn-success mt-5" type="submit">حفظ</button>
  </form>
</div>
