<p>suppliers-list works!</p>
<input
  class="mb-3 form-control w-25"
  type="text"
  placeholder="بحث بإسم المورد"
  [(ngModel)]="supplierName"
  (ngModelChange)="search()"
/>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <th [appSort]="suppliers" data-order="desc" data-name="supplierName">
        <fa-icon [icon]="faSort"></fa-icon>
        إسم المورد
      </th>
      <th [appSort]="suppliers" data-order="desc" data-name="address">
        <fa-icon [icon]="faSort"></fa-icon>
        عنوان المورد
      </th>
      <th [appSort]="suppliers" data-order="desc" data-name="phone">
        <fa-icon [icon]="faSort"></fa-icon>
        رقم الفاكس
      </th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="
        let supplier of suppliers
          | paginate: { itemsPerPage: 15, currentPage: pageNumber }
      "
    >
      <th scope="row">{{ supplier.supplierName }}</th>
      <td>{{ supplier.address }}</td>
      <td>{{ supplier.phone }}</td>
    </tr>
  </tbody>

  <pagination-controls (pageChange)="pageNumber = $event"></pagination-controls>
</table>
